/dist
/node_modules
/types
.buildignore
.eslintignore
.eslintrc.json
build.mjs
package-lock.json
APBSConfig.exe
APBSConfig.pdb
/Core
/wwwroot
/ConfigApp/obj
/ConfigApp/bin
ConfigApp/APBSConfig.csproj.user
ConfigApp/.vs
ConfigApp/Properties/PublishProfiles/FolderProfile.pubxml.user
