#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: red;
    margin-left: 3rem;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.no-highlight {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

:scope .content {
    overflow: auto;
    position: relative;
    animation-name: transition;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

    .content::before {
        content: "";
        position: fixed;
        background-position: -425px 0px;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        background-size: cover;
        width: 100%;
        height: 100%;
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        filter: blur(4px);
        animation-name: transitionBG;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

:scope .no-animation-content {
    overflow: auto;
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

    .no-animation-content::before {
        content: "";
        position: fixed;
        background-position: -425px 0px;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        background-image: url('bg1.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        filter: blur(4px);
    }

/* Chrome, Safari, Opera */
@-webkit-keyframes transitionBG {
    from {
        opacity: 0;
        background-image: url('bg1.jpg');
    }

    to {
        opacity: 1;
        background-image: url('bg1.jpg');
    }
}

/* Standard syntax */
@keyframes transitionBG {
    from {
        opacity: 0;
        background-image: url('bg1.jpg');
    }

    to {
        opacity: 1;
        background-image: url('bg1.jpg');
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes transition {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes transition {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}